# Instructions

Your submission will be tested with the code tester. It is important to follow these instructions to ensure your work tests properly.

- Do not change the content of the cells under __SETUP__ and __TESTS__
- Work only in the __YOUR WORK__ area
- Rename the notebook with your group at the end (subsitute XX with your group number).
- Assign the results of each numbered question to the appropriate test variable. For example, the answer of `1.` should be assigned to `test_1`
- Rounding: use the supplied function `hround` to round decimal numbers when instructed. It's important to use this function because there are [multiple ways to round numbers in Python](https://www.knowledgehut.com/blog/programming/python-rounding-numbers) and they may not result in the same value that the tester is testing against.
- Ensure your run the cells under __SETUP__ before you run your work
- Before you submit your work, ensure you clean up your notebook. Your notebook has to run without an error in order to be tested. The easiest way to ensure is to `Kernel->Restart & Run All`
- Answers are provided below for your convenience
- You will need to write a program to calculate the answers. Setting the answers to be their correct values without solving them is considered *hardcoding* and will result in zero grade for the assignment as well as a potential academic honesty violation.
- You can also test your submission using [the online code tester](http://open-data.stream:9100)

# SETUP

In [1]:
import pandas as pd
import numpy as np

In [2]:
# DO NOT CHANGE
scenario = 0

In [3]:
def hround(number):
    return round(number, 2 - scenario)

In [4]:
test_1=test_2=test_3=test_4=test_5=test_6=test_7=test_8=test_9=test_10=0.0

In [5]:
data = pd.read_csv('customer_churn.csv')
data.head()

   churned  id  customer_code                        co_name  total_spend
0        0   1           1826  Hoffman Martinez and Chandler     68567.34
1        0   2            772         Lee Martin and Escobar     74335.27
2        0   3            479       Hobbs Mcdaniel and Baker     48746.22
3        0   4           1692                Williams-Harris     64416.70
4        0   5           2578                    Beck-Snyder     71623.20

The data set contains five columns:
- `churned` a binary variable indicating whether a customer has churned or not
- `id` sequential id for the customer
- `customer_code` a unique customer code
- `co_name` customer name
- `total_spend` total money spend by the customer 

Answer the following questions

1- Drop the `id` column and set the index to be `customer_code`. How many rows are there?

2- How many columns are there in the data set?

3- Extract the name of customer that has code of `772`

4- Extract the total amount spent by customers `772`, `1739`, and `141`

5- Report the names of customers who spent more than `79900`

6- How many customers did not churn, how many customers did churn? Return the result in a dictionary.

7- What is the average amount spent in the data? Round the number using `hround`

8- We want to categorize customers based on the amount spent to four catogories:
  - D: less than 20000
  - C: more or equal to 20000 but less than 40000
  - B: more or equal to 40000 but less than 60000
  - A: more or equal to 60000
  
How many customers are there in each cateogry? Return the results in a dictionary sorted by keys.

9- Calculate the average `churned` in each cateogry? In what category do customers churn the most.

10- Enterprise customers: How many customers have names ending with a space followed by the three characters `INC`, `LLC`, `LTD` or `PLC`. The match should be case insensitive. Return a dictionary sorted by values descending.

# YOUR WORK

In [6]:
data = data.set_index('customer_code').drop('id', axis=1)

In [7]:
test_1 = len(data.index)
test_2 = len(data.columns)

In [8]:
test_3 = data.loc[772, 'co_name']

In [9]:
test_4 = data.loc[[772, 1739, 141], 'total_spend']

In [10]:
test_5 = data.loc[data['total_spend'] > 79900, 'co_name']

In [11]:
#data['churned'].value_counts().to_dict()
test_6 = data.groupby('churned')['co_name'].count().to_dict()

In [12]:
test_7 = hround(data['total_spend'].mean())

In [13]:
#[(0, 20000] < (20000, 40000] < (40000, 60000] < (60000, 80000]]
data['category'] = pd.cut(data['total_spend'], [0, 20000, 40000, 60000, 80000], 
       labels=['D', 'C', 'B', 'A'])

In [14]:
test_8 = data['category'].value_counts().to_dict()

In [15]:
test_9 = data.groupby('category')['churned'].mean().idxmax()

In [16]:
test_10 = data['co_name'].str.upper().str.extract('\w+ (INC|LLC|LTD|PLC)$')[0].dropna().value_counts().to_dict()

# TESTS

In [17]:
### TEST 1
test_1

2999

In [18]:
## TEST 2
test_2

3

In [19]:
## TEST 3
test_3

'Lee Martin and Escobar'

In [20]:
## TEST 4
test_4

customer_code
772     74335.27
1739    56805.57
141     68277.60
Name: total_spend, dtype: float64

In [21]:
## TEST 5
test_5

customer_code
2868               Petersen-Rodriguez
2670    Montgomery Phelps and Schultz
567                         Young LLC
1810                  Powers-Williams
Name: co_name, dtype: object

In [22]:
## TEST 6
test_6

{0: 2833, 1: 166}

In [23]:
## TEST 7
test_7

44275.11

In [24]:
## TEST 8
test_8

{'A': 906, 'B': 877, 'C': 624, 'D': 592}

In [25]:
## TEST 9
test_9

'A'

In [26]:
## TEST 10
test_10

{'LTD': 188, 'LLC': 170, 'INC': 161, 'PLC': 160}